.faq {
  padding-bottom: 120px;
  background-color: $color-default-white;

  @include vp-tablet {
    padding-bottom: 100px;
  }

  @include vp-mobile {
    padding-bottom: 60px;
  }
}

.faq__title {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 73px;
  color: $color-additional-text;
  text-align: center;
  word-wrap: break-word;

  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;

  @include vp-tablet {
    max-width: 300px;
    margin-bottom: 53px;

    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
  }

  @include vp-mobile {
    max-width: 180px;
    margin-bottom: 30px;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
