.features__container {
  min-height: 442px;
  padding: 50px 106px;
  padding-top: 72px;
  padding-bottom: 32px;
  padding-left: 126px;
  color: $color-default-white;
  background-color: $color-additional-text;
  border-radius: 20px;

  font-family: $ff-manrope;

  @include vp-tablet {
    min-height: 480px;
    padding: 40px;
    padding-top: 60px;
    padding-left: 60px;
  }

  @include vp-mobile {
    padding: 40px 20px;
    padding-top: 42px;
    padding-left: 30px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 52px;
  row-gap: 54px;

  @include vp-tablet {
    column-gap: 50px;
    row-gap: 42px;
  }

  @include vp-mobile {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
}

.features__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 478px;
  min-height: 132px;
  padding: 30px 60px;
  padding-bottom: 20px; // Подгон
  border: 1px solid $color-dark-theme-text;
  border-radius: 16px;

  @include vp-tablet {
    width: auto;
    min-height: 168px;
    padding: 30px;
    padding-right: 15px;
    padding-bottom: 20px; // Подгон
  }

  @include vp-mobile {
    min-height: 128px;
    padding: 20px;
    padding-top: 19px; // Подгон
    padding-right: 21px;
    padding-bottom: 23px;
    padding-left: 19px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -23px; // Подгон
    left: -21px;
    display: block;
    width: 42px;
    height: 42px;
    background-color: $color-additional-text;
    background-image: url("../../img/svg/star.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include vp-mobile {
      background-size: 15px;
    }
  }
}

.features__item:nth-child(odd) .features__text-content {
  column-gap: 10px;  // Подгон
}

.features__item:nth-child(even) .features__text-content {
  column-gap: 20px;  // Подгон
}

.features__text-content {
  display: flex;
  justify-content: space-between;
  align-items: self-start;

  @include vp-tablet {
    flex-direction: column;
    justify-content: start;
    row-gap: 12px;
  }

  @include vp-mobile {
    row-gap: 4px;
  }
}

.features__item:last-child .features__text-content > h4 { // Подгон
  @include vp-mobile {
    max-width: 200px;
    min-width: 200px;
  }
}

.features__text-content h4 {
  max-width: 175px;
  min-width: 171px;
  margin: 0;
  word-wrap: break-word;

  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.26px;
  text-transform: uppercase;

  @include vp-tablet {
    max-width: 132px;
    min-width: 110px;

    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }

  @include vp-mobile {
    max-width: none;

    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.16px;
    text-transform: uppercase;
  }
}

.features__text-content p {
  flex-shrink: 1;
  width: fit-content;
  max-width: 200px;
  color: $color-dark-theme-text;
  margin: 0;
  word-wrap: break-word;

  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;

  @include vp-tablet {
    max-width: 217px;

    font-size: 16px;
    line-height: 20px;
  }

  @include vp-mobile {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
}
