.header-accordion__list {
  padding-left: 16px;
}

.header-accordion__content {
  padding-top: 0;
  transition: 0.3s ease-in-out;
}

.header-accordion__element.is-active .header-accordion__content {
  margin-top: 14px; // Подгон
}

.header-accordion__sub-item {
  opacity: 0.7;
}

.header-accordion__sub-item:not(:last-child) {
  margin-bottom: 4px; // Подгон
}

.header-accordion__sub-link {
  max-width: 130px;
  word-wrap: break-word;
}

.header-accordion__button {
  &::after {
    opacity: 0.7;
    transform: scaleY(-1);
    transition: opacity 0.3s ease-in-out, transform 0.4s ease-in-out;
  }
}

.header-accordion__element.is-active .header-accordion__button {
  &::after {
    opacity: 1;
    transform: scaleY(1);
  }
}

.header-accordion__button span {
  max-width: 130px;
  text-align: start;
  word-wrap: break-word;
}
