.hero-swiper {
  position: relative;
}

.hero-swiper__pagination-wrapper {
  position: relative;
  top: 395px;

  @include vp-tablet {
    top: 653px;
  }

  @include vp-mobile {
    top: 213px;
  }
}

.hero-swiper__pagination-wrapper > .hero-swiper__pagination {
  width: 94px;
  height: 38px;
  border-radius: 12px 12px 0 0;
  background-color: $color-default-white;

  @include vp-tablet {
    width: auto;
  }

  @include vp-mobile {
    height: 28px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-color: $color-default-white;
    mask-image: url("/img/svg/angle.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: translateX(100%);

    @include vp-mobile {
      width: 10px;
      height: 10px;
      background-color: $color-default-white;
      mask-image: url("/img/svg/angle-mobile.svg");
    }
  }
}
