.modal__close-btn {
  background-color: transparent;
  color: $color-additional-text;

  // position: fixed;
  // top: 120px;
  // right: 495px;
  // z-index: 1000;
}

.modal__content {
  width: 510px;
  height: 611px;
  min-width: 290px;
  padding: 60px 80px;
  border-radius: 16px;
  overflow-y: auto;

  @include vp-tablet {
    width: 510px;
    height: 602px;
  }

  @include vp-mobile {
    height: 521px;
    padding: 40px 15px;
  }
}
