.programs {
  position: relative;
  background-color: $color-dark-theme-text;
  margin-bottom: 120px;

  @include vp-tablet {
    margin-bottom: 100px;
  }

  @include vp-mobile {
    margin-bottom: 60px;
  }
}

.programs__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;

  @include vp-tablet {
    margin-bottom: 40px;
  }

  @include vp-mobile {
    margin-bottom: 32px;
  }
}

.programs__title {
  max-width: 300px;
  margin: 0;
  margin-top: 2px; // Подгон
  color: $color-additional-text;
  word-wrap: break-word;

  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;

  @include vp-tablet {
    margin-top: -2px; // Подгон

    font-size: 34px;
    line-height: 50px;
  }

  @include vp-mobile {
    margin-top: 3px; // Подгон

    font-size: 20px;
    line-height: 20px;
  }
}

.programs__link {
  width: 232px;
  min-height: 54px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  background-color: $color-dark-theme-text;

  @include vp-mobile {
    position: absolute;
    bottom: 0;
    left: 15px; // Container
    width: 203px;
    height: 42px;
    min-height: 42px;

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.24px;
    text-transform: uppercase;

    &::after {
      width: 34px;
      height: 34px;
      min-width: 34px;
    }
  }
}

.programs__link span {
  max-width: 122px;
  word-wrap: break-word;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;

  @include vp-mobile {
    min-height: 16px;
    word-wrap: normal;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.programs__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-right: 100px;
  padding-left: 100px;

  @include vp-tablet {
    padding-right: 0;
    padding-left: 45px;
  }

  @include vp-mobile {
    margin-bottom: 72px; // Размер месте с кнопкой
    padding-right: 15px;
    padding-left: 15px;
  }
}

.programs__navigation-wrapper {
  display: flex;
  align-items: center;
  column-gap: 52px;
}

.programs__scrollbar {
  background-color: rgba(49, 109, 194, 0.2);

  @include vp-mobile {
    display: none;
  }
}

.programs__btn-wrapper {
  display: flex;
  column-gap: 10px;
  width: 54px;
  height: 22px;

  @include vp-mobile {
    position: absolute;
    top: 0;
    right: 15px; // Container
  }
}
