.reviews-slide {
  height: inherit;
  min-height: 456px;
  padding: 50px;
  border: 1px solid $color-additional-text;
  border-radius: 16px;

  font-family: $ff-manrope;
  color: $color-main-text;

  @include vp-tablet {
    min-height: 395px;
  }

  @include vp-mobile {
    padding: 15px;
    min-height: 435px;
  }
}

.reviews-slide__row-wrapper:first-child,
.reviews-slide__col-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-slide__row-wrapper:first-child {
  margin-bottom: 30px;

  @include vp-mobile {
    flex-direction: column;
    align-items: start;
    row-gap: 15px;
    margin-bottom: 25px;
  }
}

.reviews-slide__img-wrapper {
  margin-right: 15px;

  @include vp-mobile {
    margin-right: 10px;
  }
}

.reviews-slide__img-wrapper img {
  max-width: 100%;
  object-fit: cover;
}

.reviews-slide__text-content h3 {
  max-width: 70px;
  margin: 0;
  color: $color-additional-text;
  word-wrap: break-word;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @include vp-tablet {
    max-width: 70px;

    font-size: 20px;
    line-height: 24px;
  }

  @include vp-mobile {
    max-width: 50px;

    font-size: 14px;
    line-height: 18px;
  }
}

.reviews-slide__text-content p {
  max-width: 504px;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;

  @include vp-tablet {
    max-width: 460px;
  }

  @include vp-mobile {
    max-width: 260px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.reviews-slide__text-content p:first-of-type {
  max-width: 504px;
  margin-bottom: 25px;
  color: $color-additional-text;
  word-wrap: break-word;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  @include vp-tablet {
    max-width: 460px;
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-mobile {
    max-width: 260px;
    font-size: 16px;
    line-height: 18px;
  }
}

.reviews-slide__text-content-dl {
  margin: 0;
}

.reviews-slide__text-content-dl:not(:last-child) {
  margin-right: 25px;
}

.reviews-slide__text-content-dl dt {
  max-width: 80px;
  margin-bottom: 10px;
  color: $color-additional-text;
  word-wrap: break-word;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}

.reviews-slide__text-content-dl dd {
  max-width: 127px;
  margin-left: 0;
  word-wrap: break-word;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  @include vp-mobile {
    line-height: 20px;
  }
}
