.reviews {
  position: relative;
  background-color: $color-dark-theme-text;
  margin-bottom: 120px;

  @include vp-tablet {
    margin-bottom: 100px;
  }

  @include vp-mobile {
    margin-bottom: 60px;
  }
}

.reviews__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;

  @include vp-tablet {
    margin-bottom: 42px;
  }

  @include vp-mobile {
    margin-bottom: 31px;
  }
}

.reviews__title {
  max-width: 300px;
  margin: 0;
  padding-top: 4px; // Подгон
  padding-left: 4px; // Подгон
  color: $color-additional-text;
  word-wrap: break-word;

  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;

  @include vp-tablet {
    margin-top: -1px; // Подгон
    padding-top: 0;
    padding-left: 0;

    font-size: 34px;
    line-height: 50px;
  }

  @include vp-mobile {
    max-width: 100px;
    padding-top: 4px;
    font-size: 20px;
    line-height: 20px;
  }
}

.reviews__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 38px;
  padding-right: 100px;
  padding-left: 100px;

  @include vp-tablet {
    padding-right: 0;
    padding-left: 45px;
  }

  @include vp-mobile {
    margin-bottom: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.reviews__navigation-wrapper {
  display: flex;
  align-items: center;
  column-gap: 52px;

  @include vp-tablet {
    padding-bottom: 1px; // Подгон
  }

  @include vp-mobile {
    padding-bottom: 0;
  }
}

.reviews__scrollbar {
  background-color: rgba(49, 109, 194, 0.2);

  @include vp-mobile {
    display: none;
  }
}

.reviews__btn-wrapper {
  display: flex;
  column-gap: 10px;
  width: 54px;
  height: 22px;

  @include vp-mobile {
    position: absolute;
    top: 0;
    right: 15px; // Container
  }
}
