.swiper-btn {
  position: static;
  display: block;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url("/img/svg/arrow-swiper.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 30px;
  z-index: 100;
  cursor: pointer;

  &--next {
    transform: translateY(100%) scaleX(1);
  }

  &--prev {
    transform: translateY(100%) scaleX(-1);
  }

  &[aria-disabled="true"] {
    background-color: $color-disabled;
    background-image: none;
    mask-image: url("/img/svg/arrow-swiper.svg");
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
  }

  @include hover-focus {
    outline: none;
    background-color: $color-default-white;
  }

  @include active {
    background-color: $color-default-white;
    opacity: 0.7;
  }

  &::after {
    content: unset;
  }
}
