.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 14px 20px;

  @media (width <= 767px) {
    padding: 10px 16px;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset;
  bottom: unset;
  left: unset;
  width: auto;
}

.swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border: 1px solid #316dc2;
  opacity: 1;
  color: $color-additional-text;
  background-color: transparent;

  @media (width <= 767px) {
    width: 8px;
    height: 8px;
  }
}

.news__pagination .swiper-pagination-bullet {
  width: auto;
  height: auto;
  min-width: 32px;
  min-height: 32px;
  border-color: transparent;
  opacity: 0.5;
  overflow: hidden;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @include vp-mobile {
    width: auto;
    height: auto;
    min-width: 26px;
    min-height: 26px;

    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
  }
}

.news__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet:focus {
  outline: none;
  border: 1px solid #316dc2;
  opacity: 1;
  background-color: transparent;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet-active:hover,
.swiper-pagination-bullet-active:focus {
  color: $color-default-white;
  border: 1px solid transparent;
  background-color: #316dc2;
}

.swiper-pagination-bullet:active {
  outline: none;
  border: 1px solid transparent;
  opacity: 1;
  color: $color-default-white;
  background-color: $color-active;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 0;
  margin-right: 0;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: static;
}

.swiper-scrollbar-drag {
  background-color: #316dc2;
}
